# Python
__pycache__/
*.py[cod]
*.egg-info/
.dist/
build/
dist/
.venv/
venv/
.env
.env.*

# Tools & caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml

# Editors/OS
.DS_Store
.idea/
.vscode/

# Logs
*.log
